<% if User.current.allowed_to_view_all_time_entries?(@project) %>
<%= stylesheet_link_tag 'redmine_remaining_time', plugin: 'redmine_remaining_time' %>
	<%= issue_fields_rows do |rows|
        unless @issue.disabled_core_fields.include?('remaining_hours')
          if @issue.remaining_hours.present? || @issue.total_remaining_hours.to_f > 0
            rows.right l(:field_remaining_hours), issue_remaining_hours_details(@issue), :class => 'remaining-hours'
          end
        end
	      rows.left l(:field_total_estimated_hours), render_estimated_time(@issue)
	      rows.left l(:field_total_remaining_hours), render_remaining_time(@issue)
		    rows.left l(:label_total_spent_time), render_logged_time(@issue)
	end %>
<% end %>
