<%= labelled_fields_for :issue, @issue do |f| %>
<% if @issue.safe_attribute? 'remaining_hours' %>
<p><%= f.text_field :remaining_hours, :size => 3, :required => @issue.required_attribute?('remaining_hours') %> <%= l(:field_hours) %></p>
<% end %>
<% end %>
