<% if time_entry.new_record? %>
  <p>
  <%= form.check_box :update_remaining, :no_label => true %>
  <label class="inline" for="time_entry_update_remaining" id="time_entry_update_remaining"><%= l(:field_update_remaining) %></label>
  </p>
<% end %>