<p>
<label for="settings_hours_in_day"><%= l(:field_hours_in_day) %></label>
<%= text_field_tag 'settings[hours_in_day]', @settings['hours_in_day'], :size => 5, :maxlength => 5 %> <%= l(:label_hours) %>
</p>
<p>
<label for="settings_char_for_day"><%= l(:field_char_for_day) %></label>
<%= text_field_tag 'settings[char_for_day]', @settings['char_for_day'], :size => 1, :maxlength => 1 %>
</p>
<p>
<label for="settings_days_in_week"><%= l(:field_days_in_week) %></label>
<%= text_field_tag 'settings[days_in_week]', @settings['days_in_week'] , :size => 5, :maxlength => 5 %> <%= l(:label_days) %>
</p>
<p>
<label for="settings_unit_default"><%= l(:label_settings_unit_default) %></label>
<%= select_tag('settings[default_unit]',
options_for_select({
l(:label_hours) => 'hours',
l(:label_days) => 'days' }, @settings['default_unit'])) %>


</p>