<% if User.current.allowed_to?(:view_time_entries, @project) %>
 <% total_estimated_hours = @project.estimated_hours %>
  <h3><%= l(:label_estimated_hours) %></h3>
  <% if total_estimated_hours.present? %>
    <p><span class="icon icon-time"><%= l_hours(total_estimated_hours) %></span></p>
  <% end %>
  <% total_remaining_hours = @project.remaining_hours %>
  <h3><%= l(:label_remaining_hours) %></h3>
  <% if total_remaining_hours.present? %>
    <p><span class="icon icon-time"><%= l_hours(total_remaining_hours) %></span></p>
  <% end %>
<% end %>
