<% if @version.estimated_hours > 0 || User.current.allowed_to?(:view_time_entries, @project) %>
  <%= javascript_tag do %>
    $("div#version-summary fieldset.time-tracking table").append(
    '<tr><th> <%=l(:label_remaining_hours) %> </th><td class="total-hours"> <%= html_hours(l_hours(@version.remaining_hours)) %></td></tr>'
    );
    
  <% end %>
<% end %>