p.timevalue {
    margin-bottom: 0px;
    font-size: 0.86em;
}

.timebar-table {
	float: left;
	margin: 1px 6px 1px 0px;
	width:80%;
	border-collapse:collapse;
}

.timebar {
	height:5px;
	background-color:#CCCCCC;
}

.timebar.estimated {
	background-color:#89AFD7;
}

.timebar.drift {
	background-color:#EA0000;
}

.timebar.remaining {
	background-color:#EC8E00;
}

.timebar.logged {
	background-color:#51A825;
}